body{
    font-family: 'Signika Negative', sans-serif;
    background: rgb(20, 20, 20);
}

h1{
    font-size: 100px;
}

h2{
    font-size: 60px;
}

p{
    font-size: 25px;
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}